/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.wp-block-my-tut-02 {
	border: 1px solid rgba(0,0,0,.1);
	padding: 1rem;
}

.wp-block-my-tut-02 figure {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f1f1f1;
	float: right;
	width: 50%;
	min-height: 100px;
}

.wp-block-my-tut-02 figure button {
	margin-top: 30px;
}

.wp-block-my-tut-02 figure .button--transparent {
	margin: 0;
	padding: 0;
	display: block;
	height: auto;
}

.wp-block-my-tut-02 figure img {
	display: block;
	z-index: 1;
	position: relative;
}

.editor-styles-wrapper .wp-block-my-tut-02 h2 {
	margin-top: 0;
}

.wp-block-my-tut-02 ul {
	padding-left: 2.5em !important;
}

.wp-block-my-tut-02 .block-editor-rich-text__editable p {
	margin: 0;
}

.wp-block-my-tut-02 .block-editor-rich-text__editable p + p {
	margin-top: 0.75rem;
}

.wp-block-my-tut-02:after { 
	content:""; 
	clear:both; 
	display: table; 
}